@import "assets/theme.scss";

.ant-page-header.headerClass {
  border-bottom: inset;
  padding: 10px 15px;
}
.headerClass {
  position: fixed;
  z-index: 1;
  width: "100%";
  .ant-page-header-heading {
    display: flex;
    flex-direction: row-reverse;
    float: left;
  }
  .ant-page-header-heading-extra {
    margin-right: 15px;
  }
}

.drawerClass {
  .ant-drawer-header {
    display: none;
  }
  .ant-drawer-body {
    padding: 0px;
  }
}
